@charset "utf-8";

$body-background-color: #E6E6E6;
$primary: #3C735F;
$link: $primary;
$navbar-height: 3.6rem;
$navbar-item-hover-background-color: $body-background-color;

@import "../../node_modules/bulma/bulma.sass";

main {
  min-height: 70vh;
}

footer {
  padding: 10rem 0;
}

.navbar-brand {
  margin-left: 0 !important;
}

.navbar-brand .navbar-item {
  background-color: inherit !important;
}
