@charset "utf-8";

$body-background-color: #F6F6F6;
$primary: #3C735F;
$link: $primary;
$info: #4687C8;
$danger: #E60000;
$navbar-height: 3.8rem;
$navbar-item-hover-background-color: $body-background-color;
$section-padding: 2rem 1rem;
$section-padding-medium: 7.5rem 1rem;
$notification-padding-ltr: 1rem 2rem;
$footer-background-color: #EEE;

@import "~bulma/bulma.sass";

main {
  min-height: 24rem;
}

.navbar-brand .navbar-item {
  background-color: inherit !important;
}

.image img {
  background-color: $light-invert;
}

.has-background-body {
  background-color: $body-background-color;
}

.quote-content {
  border-left: 3px solid $grey-light;
}
